.userInfo {
    position: absolute;
    top: 100px;
    left: 180px;
}

.userInfo h2 {
    font-size: 48px;
    margin-block : 0;
}

.redFirstName {
    color: red;
}

.congratsParagraph {
    color: black;
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 1024px) {
    .userInfo {
        top: 90px;
        left: 120px;
    }
}