.nutritionSummaryContainer {
    margin-left: 50px;

}


.nutritionSummaryCard {
    background-color: #FBFBFB;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    border-radius: 15px;
}

.icon{
    width: 60px;
}

.rightCol{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.score {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.legend{
    font-size: 14px;
    color: #74798C;
}



