.chartsContainer {
    width: 100%;
    height: 100%;
  }

.topLineChart{
  width: 100%;
  background-color: #FBFBFB;
  border-radius: 10px;
  padding: 20px;
}

.bottomLineCharts {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin: 50px;
  }


  .chart1{
    background-color: #FF0000;
    width: 33%;
    border-radius: 5px;
  }

  .chart2{
    background-color: #282D30;
    width: 33%;
    border-radius: 5px;

  }

  .chart3{
    background-color: #FBFBFB;
    width: 33%;
    border-radius: 10px;

  }

