.chartContainer {
    padding: 0;
}

.chartTitle{
    font-size: 15px;
    padding-left: 15px;
    color: white;
    width: 120px;
}


.linechart-custom-tooltip {
    background-color: white; 
    color: black; 
    padding: 10px 20px;
  }