@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

body {
    font-family: "Roboto";
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.container{
  position: relative;
  height:100vh;
}


.rawInfos{
  position: absolute;
  top: 140px;
  left: 180px;
}
@media (max-width: 1024px) {
  .rawInfos {
      top: 90px;
      left: 120px;
  }
}